<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add game</title>
</head>
<body>

<h1>➕ Add demo-version of the game</h1>

<form method="post">
    <p>
        <input type="text" name="title" placeholder="Name of the game" required>
    </p>
    <p>
        <input type="url" name="steam_url" placeholder="Steam link" required>
    </p>

    <p>
        <input type="url" name="image_url" placeholder="Image link">
    </p>

    <p>
        <textarea name="description" placeholder="Description" rows="5"></textarea>
    </p>

    <p>
        <button type="submit">Add</button>
    </p>
</form>

<p><a href="/">← Back</a></p>

</body>
</html>