<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete games</title>
</head>
<body>

<h1>🗑 Manage games</h1>

<p><a href="/">← Back to main page</a></p>


{% if games %}
    <ul>
    {% for game in games %}
        <li style="margin-bottom: 15px;">
            <p>ID: {{ game.id }}</p>   <!-- check for get id  -->
            <strong>{{ game.title }}</strong><br>
            <a href="{{ game.steam_url }}" target="_blank">Steam</a>

            <form action="/delete/{{ game.id }}" method="post" style="display:inline;">
                <button type="submit"
                        onclick="return confirm('Delete {{ game.title }}?')">
                    Delete
                </button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No games yet.</p>
{% endif %}


</body>
</html>