<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Steam Demo Games</title>
</head>
<body>
    <h1>🎮 Demos Steam</h1>

    {% if games %}
        <ul>
        {% for game in games %}
            <li>
                <a href="{{ game['steam_url'] }}" target="_blank">
                    {{ game['title'] }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>The are no games in db now.</p>
    {% endif %}
</body>
</html>
